<div class="container text-center">
  <br>
<h1>Please pick a day:</h1>
<div class="py-4 text-center"><i class="far fa-calendar-alt fa-5x"></i></div>
  <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (click)="getPrayerTime()"></ngb-datepicker>

  <div *ngIf = "prayers">
          <div id="prayerDivContainer">
              <div class="prayerDiv">
                <h4> Fajr:</h4>
                <br>
                <p>{{prayers.timings.Fajr.split(' ')[0]}}</p>
              </div>
              <div class="prayerDiv">
                <h4>Sunrise:</h4>
                <br>
                <p>{{prayers.timings.Sunrise.split(' ')[0]}}</p>
              </div>
              <div class="prayerDiv">
                <h4>Dhuhr:</h4>
                <br>
                <p>{{prayers.timings.Dhuhr.split(' ')[0]}}</p>
              </div>
              <div class="prayerDiv">
                <h4>Asr:</h4>
                <br>
                <p>{{prayers.timings.Asr.split(' ')[0]}}</p>
              </div>
              <div class="prayerDiv">
                <h4>Maghrib:</h4>
                <br>
                <p>{{prayers.timings.Maghrib.split(' ')[0]}}</p>
              </div>
              <div class="prayerDiv">
                <h4>Isha:</h4>
                <br>
                <p>{{prayers.timings.Isha.split(' ')[0]}}</p>
              </div>
            </div>
  </div>
</div>
