.prayerDiv {
    display: inline-block;
    width: 13%;
    height: 4%;
    margin: 0.5%;
    padding: 15px;
    font-size: 25px;
    background-image: url("../../assets/emojis/about/prayer.jpg");
    background-size: cover;
    box-shadow: 1px 1px 3px rgb(139, 99, 61);
    border-radius: 10px;
    text-align: center;
}

p {
    margin-top: -20%;
    color:rgb(3, 187, 147) ;
    font-weight: 300;
    text-align: center;
}

h4 {
    margin-top: 40%;
    text-align: center;
    font-weight: 500;
    color: rgb(2, 68, 54);
}

#prayerDivContainer {
    /*background-color: beige;*/
    width: 100%;
    padding-top: 2%;
    padding-bottom: 50px;
}