
<div class="row">
    <div class="col-lg-9 mx-auto">
      <!-- Accordion -->
      <div id="accordionExample" class="accordion shadow">

        <div *ngFor = "let verse of verses">
            <div class="card" >
                <div id=verse.verse_id class="card-header bg-white shadow-sm border-0 row">
                  <div class="col-md-10">
                    <a (click)= "handleClick(verse.surah_number, verse.verse_number)" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2"><img style="width: 100%;" src="http://api.mp3quran.net/ayah_image/{{verse.surah_number}}{{verse.verse_number}}.png"></a>
                  </div>
                  <div class="col-md-2 text-center">   
                    <span (click)='addFavorite(verse.verse_id)' ><i class="fas fa-heart fa-3x" ></i></span>
                  </div>
                </div>

                <div id="collapseOne" aria-labelledby="verse.verse_id" data-parent="#accordionExample" class="collapse">
                    <div class="card-body p-5">
                      <p>{{translationText}}</p> 
                      <br><br>
                      <mat-basic-audio-player audioUrl= "https://verse.mp3quran.net/arabic/ibrahim_alakhdar/32/{{verse.surah_number}}{{verse.verse_number}}.mp3" [title]="msbapTitle" 
                      [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="msbapDisplayVolumeControls" >
                      </mat-basic-audio-player>
              
                     </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

